emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/ido.last
emacs.d/smex-items
sublime/User/Package Control.cache/
sublime/User/Package Control.last-run
sublime/User/Package Control.merged-ca-bundle
sublime/User/Package\ Control.cache/
sublime/User/Package\ Control.last-run
sublime/User/Package\ Control.merged-ca-bundle
sublime/User/oscrypto-ca-bundle.crt
