emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/ido.last
sublime/User/Package Control.cache/01524fae79697630d0454ba3fabd9414
sublime/User/Package Control.cache/01524fae79697630d0454ba3fabd9414.info
sublime/User/Package Control.last-run
